HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### mvn release:prepare temp files
/*/release.properties
/*/pom.xml.releaseBackup
/*/pom.xml.versionsBackup
/release.properties
/pom.xml.releaseBackup
/pom.xml.versionsBackup

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
logs/data.log
logs/error.log
logs/
app.pid
/data/
